html
  padding 40px
  font-family Helvetica, Arial, san-serif

a
a:visited
a:hover
a:active
  color $color-dark

.avatar
  height 30px
  border-radius (@height / 2)
  vertical-align middle

header
  .link
    margin-left 5px
